*{
    box-sizing: border-box;
    margin: 2px;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1px;
    padding: 1px;
}
header{
    padding: 10px;
    background-color:black;
    text-align: center;
    border-radius: 5px;
}
header img{
    width: 50px;
    height: 50px;
}
header h1{
    color: greenyellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
nav{
    border-radius: 5px;
    display:flex;
    flex-direction: row;
    background-color: rgba(128, 255, 0, 0.637);
} 
nav a{
    border-radius: 10px;
    color: black;
    padding: 14px 110px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;
    position:relative;
    position: static;
    display: block;      
}
nav a:hover{
    color: white;
    padding: 14px 110px;
    text-decoration: none;
    position:relative;
    position: static;
    display: block;
    background-color: green;
}
nav img{
    margin-top: 5px;
    height: 30px;
    width: 30px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
aside{
 border-radius: 5px;
    height: 400px;
    flex: 30px;
    background-color:rgba(128, 255, 0, 0.637);
    padding: 20px;
}
aside a{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;   
    display:block;
    background-color: black;
    position:relative;
    position: static;
}
aside a:hover{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:  green;
    color: black;    
}
section{
    height: 420px;
    flex: 70%;
    background-color: white;
    padding: 1px;
}
section video{
    flex: 70%;
    align-content: center;
    height: 380px;
    width: 100%;
}
section h1{
    text-align: center;

}
section h2{
    text-align: justify;
}
section h4{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
footer{
    padding: 20px;
    text-align: center;
    background-color:black;
    border-radius: 5px;
}
footer img{
    height: 30px;
    width: 30px;
    float: left;
}
footer h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    color: white;
}
/*RESPONSIVE DESIGN*/
@media screen and (max-width: 700px){
    nav, .row{
        flex-direction: column;
    }  
}



